@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format(truetype);
  font-weight: 100 900;
}
.job_header, .hero_text {
  font-family: "SpaceGrotesk";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.job_languageElem {
  font-family: "SpaceGrotesk";
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.link_text {
  font-family: "SpaceGrotesk";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 2.29px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  color: #ffffff;
}

.link_text:hover {
  color: #4ee1a0;
}

.link_text::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 36px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #4ee1a0;
}

.button {
  font-family: "SpaceGrotesk";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 2.29px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  color: #ffffff;
  display: block;
  margin-left: auto;
  background-color: inherit;
  padding: 0;
  padding-bottom: 12px;
  border: 0;
}

.button:hover {
  color: #4ee1a0;
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 36px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #4ee1a0;
}

.contact_input[name=email]:not(:-moz-placeholder-shown):required:invalid ~ .contact_textInvalid[name=email], .contact_input[name=name]:not(:-moz-placeholder-shown):required:invalid ~ .contact_textInvalid[name=name] {
  display: block;
  font-family: "SpaceGrotesk";
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -0.17px;
  color: #ff6f5b;
  text-align: right;
}

.contact_input[name=email]:not(:placeholder-shown):required:invalid ~ .contact_textInvalid[name=email], .contact_input[name=name]:not(:placeholder-shown):required:invalid ~ .contact_textInvalid[name=name] {
  display: block;
  font-family: "SpaceGrotesk";
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -0.17px;
  color: #ff6f5b;
  text-align: right;
}

.fon-color {
  background-color: #151515;
  min-width: 375px;
  max-width: 375px;
}

.hero {
  background-image: url("../../assets/images/pattern-rings.svg"), url("../../assets/images/pattern-circle.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -342px 124px, 311px 254px;
  background-size: 530px, 129px;
}

.hero--indent {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 92px;
}

.hero_foto-box {
  width: 174px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.hero_text {
  color: #ffffff;
  letter-spacing: -0.33px;
  margin: 0;
}

.hero_text--indent {
  position: absolute;
  top: 20px;
  left: 22px;
}

.hero_text--center {
  text-align: center;
  margin-bottom: 20px;
}

.hero_list {
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero_list--indent {
  position: absolute;
  top: 72px;
  left: 10px;
}

.hero_list--center {
  justify-content: center;
}

.hero_icon {
  width: 20px;
  height: 20px;
}

.hero_image {
  display: block;
  height: 100%;
  width: 100%;
}

.hero_header {
  font-family: "SpaceGrotesk";
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -1.14px;
  margin: 0;
  margin-bottom: 24px;
  color: #ffffff;
  text-align: center;
}

.hero_header-name {
  position: relative;
}

.hero_header-name::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #4ee1a0;
  height: 4px;
}

.hero_main-text {
  font-family: "SpaceGrotesk";
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: #ffffff;
  margin-bottom: 24px;
}

.hero_contact-box {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .fon-color {
    max-width: 768px;
  }
  .hero {
    background-image: url("../../assets/images/pattern-rings.svg"), url("../../assets/images/pattern-circle.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -265px 86px, 702px 471px;
    background-size: 530px, 129px;
  }
  .hero--indent {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 72px;
  }
  .hero_foto-box {
    width: 322px;
    position: relative;
    margin-left: auto;
    margin-right: -30px;
    margin-bottom: 40px;
  }
}
.experience {
  background-image: url("../../assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: 189px 540px;
  background-size: 530px;
}

.experience--indent {
  padding-bottom: 80px;
  padding-left: 16px;
  padding-right: 14px;
}

.experience_line {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.experience_line--indent {
  margin-bottom: 40px;
}

.experience_box {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.experience_list-item {
  margin-bottom: 24px;
}

.experience_list-item:last-child {
  margin-bottom: 40px;
}

.experience_header {
  font-family: "SpaceGrotesk";
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  text-align: center;
  margin-bottom: 1px;
}

.experience_text {
  font-family: "SpaceGrotesk";
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.projects--indent {
  padding-left: 16px;
  padding-right: 16px;
}

.projects_headerBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.projects_header {
  font-family: "SpaceGrotesk";
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -1.14px;
  color: #ffffff;
  margin: 0;
}

.job {
  margin-bottom: 40px;
}

.job:last-child {
  margin-bottom: 80px;
}

.job_imgBox {
  width: 343px;
  margin-bottom: 20px;
}

.job_img {
  display: block;
  width: 100%;
  height: 100%;
}

.job_header {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 7px;
}

.job_language {
  display: flex;
  gap: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.job_languageElem {
  text-transform: uppercase;
  color: #d9d9d9;
}

.job_link {
  display: flex;
  gap: 30px;
  padding-bottom: 12px;
}

.contact {
  background-color: #242424;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 60px;
  background-image: url("/assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: -343px 470px;
}

.contact_form--indent {
  margin-bottom: 87px;
}

.contact_header {
  font-family: "SpaceGrotesk";
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -1.14px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.contact_text {
  font-family: "SpaceGrotesk";
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #d9d9d9;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.contact_textInvalid {
  display: none;
}

.contact_input {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 32px;
  border: 0;
  border-bottom: 1px solid #ffffff;
  background-color: inherit;
  font-family: "SpaceGrotesk";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.22px;
  color: #ffffff;
  position: relative;
}

.contact_input:focus-visible {
  outline: 0;
}

.contact_input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #242424 inset;
  -webkit-text-fill-color: #ffffff;
}

.contact_input:not(:-moz-placeholder-shown):required:valid {
  border-bottom: 1px solid #4ee1a0;
}

.contact_input:not(:placeholder-shown):required:valid {
  border-bottom: 1px solid #4ee1a0;
}

.contact_input:not(:-moz-placeholder-shown):required:invalid {
  margin-bottom: 5px;
  border-bottom: 1px solid #ff6f5b;
}

.contact_input:not(:placeholder-shown):required:invalid {
  margin-bottom: 5px;
  border-bottom: 1px solid #ff6f5b;
}

.contact_input--bottom {
  padding-bottom: 17px;
}

.contact_input::-moz-placeholder {
  font-family: "SpaceGrotesk";
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.22px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.contact_input::placeholder {
  font-family: "SpaceGrotesk";
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.22px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.contact_socialBox--indent {
  margin-top: 39px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */