.contact {
  background-color: $second-fon-color;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 60px;

  background-image: url("https://dzybystim.github.io/developer-portfolio/assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: -343px 470px;
}

.contact_form--indent {
  margin-bottom: 87px;
}

.contact_header {
  font-family: $mainFont;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -1.14px;
  color: $text-color;

  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.contact_text {
  font-family: $mainFont;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: $second-text-color;

  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.contact_textInvalid {
  display: none;
}

.contact_input {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 32px;
  border: 0;
  border-bottom: 1px solid $text-color;

  background-color: inherit;

  font-family: $mainFont;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.22px;
  color: $text-color;
  position: relative;
}

.contact_input:focus-visible {
  outline: 0;
}

.contact_input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px $second-fon-color inset;
  -webkit-text-fill-color: $text-color;
}

.contact_input:not(:placeholder-shown):required:valid {
  border-bottom: 1px solid $brand-color;
}

.contact_input:not(:placeholder-shown):required:invalid {
  margin-bottom: 16px;
  border-bottom: 1px solid $warning-color;
}

.contact_input[name="name"]:not(:placeholder-shown):required:invalid
  ~ .contact_textInvalid[name="name"] {
  @extend %invalidMessage;
}

.contact_input[name="email"]:not(:placeholder-shown):required:invalid
  ~ .contact_textInvalid[name="email"] {
  @extend %invalidMessage;
}

.contact_input--bottom {
  padding-bottom: 16px;
}

.contact_input::placeholder {
  font-family: $mainFont;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.22px;

  text-transform: uppercase;
  color: $text-color;
  opacity: 0.5;
}

.contact_socialBox--indent {
  margin-top: 39px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .contact {
    background-color: $second-fon-color;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;

    background-position: -368px 547px;
  }

  .contact_form--indent {
    margin-bottom: 92px;

    margin-left: 132px;
    margin-right: 132px;
  }

  .contact_header {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.05px;

    margin-bottom: 20px;
  }

  .contact_text {
    font-size: 18px;
    line-height: 28px;

    margin-bottom: 48px;
  }

  .contact_socialBox--indent {
    margin-top: 30px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_socialBox {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .contact {
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 84px;

    background-position: -205px 327px;
  }

  .contact_form--indent {
    display: flex;
    gap: 220px;

    margin-bottom: 92px;

    margin-left: 0; ////////////////////////////////////////////////
    margin-right: 0; //////////////////////////////////////////
  }

  .contact_header {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;

    margin-bottom: 36px;
    text-align: left;
  }

  .contact_text {
    text-align: left;

    margin-bottom: 0; ///////////////////////////////////////////////////////
  }

  .contact_flex--width {
    width: 445px;
  }
}
