.contact {
  background-color: $second-fon-color;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 60px;

  background-image: url("/assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: -343px 470px;
}

.contact_form--indent {
  margin-bottom: 87px;
}

.contact_header {
  font-family: $mainFont;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -1.14px;
  color: $text-color;

  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.contact_text {
  font-family: $mainFont;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: $second-text-color;

  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.contact_textInvalid {
  display: none;
}

.contact_input {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 32px;
  border: 0;
  border-bottom: 1px solid $text-color;

  background-color: inherit;

  font-family: $mainFont;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.22px;
  color: $text-color;
  position: relative;
}

.contact_input:focus-visible {
  outline: 0;
}

.contact_input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px $second-fon-color inset;
  -webkit-text-fill-color: $text-color;
}

.contact_input:not(:placeholder-shown):required:valid {
  border-bottom: 1px solid $brand-color;
}

.contact_input:not(:placeholder-shown):required:invalid {
  margin-bottom: 5px;
  border-bottom: 1px solid $warning-color;
}

.contact_input[name="name"]:not(:placeholder-shown):required:invalid
  ~ .contact_textInvalid[name="name"] {
  @extend %invalidMessage;
}

.contact_input[name="email"]:not(:placeholder-shown):required:invalid
  ~ .contact_textInvalid[name="email"] {
  @extend %invalidMessage;
}

.contact_input--bottom {
  padding-bottom: 17px;
}

.contact_input::placeholder {
  font-family: $mainFont;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.22px;

  text-transform: uppercase;
  color: $text-color;
  opacity: 0.5;
}

.contact_socialBox--indent {
  margin-top: 39px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
