.experience {
  background-image: url("../../assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: 189px 540px;
  background-size: 530px;
}

.experience--indent {
  padding-bottom: 80px;

  padding-left: 16px;
  padding-right: 14px;
}

.experience_line {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: 1px;
  background-color: $text-color;
}

.experience_line--indent {
  margin-bottom: 40px;
}

.experience_box {
  list-style-type: none;
  padding: 0;
  margin: 0;

  margin-left: auto;
  margin-right: auto;
}

.experience_list-item {
  margin-bottom: 24px;
}

.experience_list-item:last-child {
  margin-bottom: 40px;
}

.experience_header {
  font-family: $mainFont;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: $text-color;

  margin: 0;
  text-align: center;
  margin-bottom: 1px;
}

.experience_text {
  font-family: $mainFont;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: $text-color;

  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .experience {
    background-image: url("../../assets/images/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position: 570px 387px;
    background-size: 530px;
  }

  .experience_line--indent {
    margin-bottom: 52px;
  }

  .experience--indent {
    padding-bottom: 100px;

    padding-left: 30px;
    padding-right: 30px;
  }

  .experience_hidden {
    display: none;
  }

  .experience_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 52px;
  }

  .experience_list-item {
    flex-basis: calc((100% - 7px) / 2);
    margin: 0; ////////////////////////////////////////////////////////////
  }

  .experience_list-item:last-child {
    margin-bottom: 0; ///////////////////////////////////////////////////
  }

  .experience_header {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;

    text-align: left;
    margin-bottom: 14px;
  }

  .experience_text {
    font-size: 18px;
    line-height: 28px;

    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .experience {
    background-image: url("../../assets/images/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position: 1149px 253px;
    background-size: 530px;
  }

  .experience_line--indent {
    margin-bottom: 72px;
  }

  .experience--indent {
    padding-bottom: 140px;

    padding-left: 170px;
    padding-right: 170px;
  }

  .experience_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 58px;
  }

  .experience_list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
