.fon-color {
  background-color: $fon-color;
  min-width: 375px;
  max-width: 375px;
}

.hero {
  background-image: url("./../../assets/images/pattern-rings.svg"),
    url("./../../assets/images/pattern-circle.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -342px 124px, 311px 254px;
  background-size: 530px, 129px;
  position: relative;
}

.hero--indent {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 92px;
}

.hero_foto-box {
  width: 174px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 40px;
}

.hero_circle {
  display: none;
}

.hero_text {
  @extend %headingM;
  color: $text-color;
  letter-spacing: -0.33px;
  margin: 0;
  text-align: center;

  margin-bottom: 20px;
}

.hero_contactBox--indent {
  position: absolute;
  left: 111px;
  top: 20px;
}

.hero_text--center {
  text-align: center;
  margin-bottom: 20px;
}

.hero_list {
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero_list--center {
  justify-content: center;
}

.hero_icon {
  width: 20px;
  height: 20px;
  fill: $text-color;
  cursor: pointer;
}

.hero_icon:hover {
  fill: $brand-color;
}

.hero_icon--red {
  fill: $warning-color;
  cursor: default;

  position: absolute;
  top: -60px;
  right: 0;
}

.hero_icon--red:hover {
  fill: $warning-color;
}

.hero_image {
  display: block;
  height: 100%;
  width: 100%;
}

.hero_header {
  font-family: $mainFont;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -1.14px;
  margin: 0;
  margin-bottom: 24px;

  color: $text-color;
  text-align: center;
}

.hero_header-name {
  position: relative;
}

.hero_header-name::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  background-color: $brand-color;
  height: 4px;
}

.hero_main-text {
  font-family: $mainFont;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  margin: 0;

  color: $text-color;
  margin-bottom: 24px;
}

.hero_contact-box {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .fon-color {
    max-width: 768px;
  }

  .hero {
    background-image: url("./../../assets/images/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position: -265px 86px;
    background-size: 530px;
  }

  .hero--indent {
    padding-left: 30px;
    padding-right: 30px;

    padding-bottom: 60px;
  }

  .hero_foto-box {
    width: 322px;
    margin-left: auto;
    margin-right: -30px;

    margin-bottom: 0; ///////////////////////////////
  }

  .hero_circle {
    display: block;
    position: absolute;
    left: 702px;
    top: 470px;
    width: 65px;
    height: 129px;
  }

  .hero_imageCircle {
    object-fit: cover;
    object-position: left;

    display: block;
    height: 100%;
    width: 100%;
  }

  .hero_contactBox--indent {
    display: flex;
    justify-content: space-between;
    left: 30px;
    right: 30px;
    top: 30px;
  }

  .hero_text {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.44px;

    margin-bottom: 0; /////////////////////////////////////////////
  }

  .hero_icon {
    width: 24px;
    height: 24px;
  }

  .hero_infoBox {
    position: absolute;
    width: 443px;
    top: 151px;
  }

  .hero_header {
    font-family: $mainFont;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: -2.05px;
    margin: 0;
    margin-bottom: 11px;
    color: $text-color;
    text-align: left;
    margin-bottom: 60px;
  }

  .hero_header-name::after {
    height: 6px;
  }

  .hero_main-text {
    font-size: 18px;
    line-height: 28px;

    text-align: left;
    margin-bottom: 34px;
  }

  .hero_contact-box {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .fon-color {
    max-width: 1440px;
  }

  .hero {
    background-image: url("./../../assets/images/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position: -100px 133px;
    background-size: 530px;
  }

  .hero--indent {
    padding-left: 165px;
    padding-right: 165px;

    padding-bottom: 104px;
  }

  .hero_foto-box {
    width: 445px;
    margin-left: auto;
    margin-right: 0; /////////////////////////////////////////
  }

  .hero_circle {
    display: block;
    position: absolute;
    left: 766px;
    top: 521px;
    width: 129px;
    height: 129px;
  }

  .hero_contactBox--indent {
    display: flex;
    justify-content: space-between;
    left: 165px;
    right: 195px;
    top: 40px;
  }

  .hero_infoBox {
    position: absolute;
    width: 706px;
    top: 198px;
  }

  .hero_header {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    margin-bottom: 43px;
  }

  .hero_main-text {
    width: 445px;
    margin-bottom: 66px;
  }

  .hero_icon--red {
    fill: $warning-color;
    cursor: default;

    position: absolute;
    top: -60px;
    right: 0;
  }

  .hero_icon--red:hover {
    fill: $warning-color;
  }
}
