.job_item {
  margin-bottom: 40px;
}

.job_item:last-child {
  margin-bottom: 80px;
}

.job_imgBox {
  width: 343px;
  margin-bottom: 20px;
}

.job_img {
  display: block;
  width: 100%;
  height: 100%;
}

.job_header {
  @extend %headingM;

  text-transform: uppercase;
  color: $text-color;
  margin: 0;
  margin-bottom: 7px;
}

.job_language {
  display: flex;
  gap: 18px;
  list-style: none;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.job_languageElem {
  @extend %bodyL;

  text-transform: uppercase;
  color: $second-text-color;
}

.job_link {
  display: flex;
  gap: 30px;

  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .job_item {
    margin-bottom: 0; ///////////////////////////////////////////////////////

    flex-basis: calc((100% - 24px) / 2);
  }

  .job_item:last-child {
    margin-bottom: 0; ////////////////////////////////////////////////////
  }
}

@media screen and (min-width: 1440px) {
  .job_item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .job_imgBox {
    position: relative;
    width: 540px;
  }

  .job--block {
    display: none;
  }

  .job_link--desktop {
    opacity: 0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $fon-color-job;

    padding-bottom: 0; //////////////////////////////////////////
  }

  .job_imgBox:hover > .job_link--desktop {
    opacity: 1;
  }
}
