.button {
  font-family: $mainFont;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 2.29px;

  text-transform: uppercase;
  position: relative;
  cursor: pointer;

  color: $text-color;

  display: block;
  margin-left: auto;

  background-color: inherit;
  padding: 0;
  padding-bottom: 12px;
  border: 0;
}

.button:hover {
  color: $brand-color;
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 36px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $brand-color;
}
