@font-face {
  font-family: "SpaceGrotesk";
  src: url("https://dzybystim.github.io/developer-portfolio/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format(truetype);
  font-weight: 100 900;
}

$mainFont: "SpaceGrotesk";
