@font-face {
  font-family: "SpaceGrotesk";
  src: url("https://github.com/Dzybystim/developer-portfolio/blob/main/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format(truetype);
  font-weight: 100 900;
}

$mainFont: "SpaceGrotesk";
